<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenshinHub</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark darkcustom sticky-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">GenshinHub</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <div class="container d-flex justify-content-center">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html">Team Power</a>
                    <a class="nav-link" href="#">Gatcha Sim</a>
                    <a class="nav-link disabled"  tabindex="-1" aria-disabled="true" href="#">Disabled</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </div>
             </div>
            <!-- <form class="d-flex">
              <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
 </nav>
 <div class="main-left">
     <div class="container-fluid wf">
         <p class="text-muted">LOREM IPSUM SEI LALOREM IPSUM SEI LALOREM IPSUM SEI LALOREM IPSUM SEI LALOREM IPSUM SEI LALOREM IPSUM SEI LALOREM IPSUM SEI LA</p>
     </div>
 </div>

 <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 yc">Left</div>
    <div class="col-md-8 panel-right">
      <section class="intro-main">
        <p class="text-muted fs-4 text-center">Team Power calc.</p>
      </section>
        <div class="container ">
          <div class="row g-2 d-flex justify-content-center">
            <div class="col-2 bg-l4 dps">
              <div class="tittle"><p class="text-muted text-center">Main DPS</p></div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="img-select">
                <img src="https://rerollcdn.com/GENSHIN/Characters/Tartaglia.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
            <div class="col-2 bg-l4 sdps">
              <div class="tittle"><p class="text-muted text-center">DPS Support</p></div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="img-select">
                <img src="https://rerollcdn.com/GENSHIN/Characters/Tartaglia.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
            <div class="col-2 bg-l4 sup1">
              <div class="tittle"><p class="text-muted text-center">Support 1</p></div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="img-select">
                <img src="https://rerollcdn.com/GENSHIN/Characters/Tartaglia.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
            <div class="col-2 bg-l4 sup2">
              <div class="tittle"><p class="text-muted text-center">Support 2</p></div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="img-select">
                <img src="https://rerollcdn.com/GENSHIN/Characters/Tartaglia.png" class="rounded mx-auto d-block img-fluid" alt="defaultSelect" id="dps">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="result">
          <div class="container">
            <p class="text-muted">O I</p>
          </div>
        </div>
    </div>
  </div>
 </div>
    
<!-- Scripts -->
<script src="/public/js/bootstrap.bundle.min.js"></script>
</body>
</html>